# **Pandas 09**

## **#33 Nilai Kumulatif pada Pandas Data Frame**
Source : [Indonesia Belajar](https://youtu.be/SS_dTWDLtxk)

### Import Modules

In [26]:
import pandas as pd

# Melakukan pengecekan versi
print(pd.__version__)

1.3.5

### Persiapan Data Frame

- Membuat dataframe dengan dua buah kolom yang dimana setiap kolom memiliki 8 value.
- Pada kolom di sebelah kiri merepresentasikan nama pemain bola dan kolom yang berada disebelah kanan merepresentasikan jumlah gol yang dicetak.

In [2]:
d = {'pemain':['Budi', 'Joni', 'Iwan', 'Budi', 'Budi', 'Iwan', 'Asep', 'Joni'], 
     'goal':[2, 1, 3, 1, 1, 2, 2, 3]}
df = pd.DataFrame(d)
df

  pemain  goal
0   Budi     2
1   Joni     1
2   Iwan     3
3   Budi     1
4   Budi     1
5   Iwan     2
6   Asep     2
7   Joni     3

### **Menampilkan nilai kumulatif (cummulative)**
- Fungsi cumsum() digunakan untuk menampilkan data secara kumulatif.
- NIlai kumulatif adalah nilai saat ini yang ditambahkan jumlah nilai sebelumnya.

In [3]:
df['goal'].cumsum().to_frame()

   goal
0     2
1     3
2     6
3     7
4     8
5    10
6    12
7    15

- Menambahkan kolom baru bernama 'jumlah_goal_kumulatif'.

In [4]:
df['jumlah_goal_kumulatif'] = df['goal'].cumsum()
df

  pemain  goal  jumlah_goal_kumulatif
0   Budi     2                      2
1   Joni     1                      3
2   Iwan     3                      6
3   Budi     1                      7
4   Budi     1                      8
5   Iwan     2                     10
6   Asep     2                     12
7   Joni     3                     15

- Menambahkan kolom baru bernama 'jumlah_goal_kumulatif_tiap_pemain'.

In [5]:
df['jumlah_goal_kumulatif_tiap_pemain'] = df.groupby('pemain')['goal'].cumsum()
df

  pemain  goal  jumlah_goal_kumulatif  jumlah_goal_kumulatif_tiap_pemain
0   Budi     2                      2                                  2
1   Joni     1                      3                                  1
2   Iwan     3                      6                                  3
3   Budi     1                      7                                  3
4   Budi     1                      8                                  4
5   Iwan     2                     10                                  5
6   Asep     2                     12                                  2
7   Joni     3                     15                                  4

- Menambahkan kolom baru bernama 'cummax'.
- Fungsi cummax() akan mendata nilai tertinggi sampai titik tertentu.

In [6]:
df['cummax'] = df['goal'].cummax()
df

,pemain,goal,jumlah_goal_kumulatif,jumlah_goal_kumulatif_tiap_pemain,cummax
0,Budi,2,2,2,2
1,Joni,1,3,1,2
2,Iwan,3,6,3,3
3,Budi,1,7,3,3
4,Budi,1,8,4,3
5,Iwan,2,10,5,3
6,Asep,2,12,2,3
7,Joni,3,15,4,3

- Menambahkan kolom baru bernama 'cummin'.
- Fungsi cummin() akan mendata nilai terendah sampai titik tertentu.

In [7]:
df['cummin'] = df['goal'].cummin()
df

,pemain,goal,jumlah_goal_kumulatif,jumlah_goal_kumulatif_tiap_pemain,cummax,cummin
0,Budi,2,2,2,2,2
1,Joni,1,3,1,2,1
2,Iwan,3,6,3,3,1
3,Budi,1,7,3,3,1
4,Budi,1,8,4,3,1
5,Iwan,2,10,5,3,1
6,Asep,2,12,2,3,1
7,Joni,3,15,4,3,1

- Menambahkan kolom baru bernama 'cumprod'.
- Cumprod merupakan singkatan dari cummulative product.
- Fungsi cumprod() merupakan hasil total perkalian/ perkalian kumulatif.

In [8]:
df['cumprod'] = df['goal'].cumprod()
df

,pemain,goal,jumlah_goal_kumulatif,jumlah_goal_kumulatif_tiap_pemain,cummax,cummin,cumprod
0,Budi,2,2,2,2,2,2
1,Joni,1,3,1,2,1,2
2,Iwan,3,6,3,3,1,6
3,Budi,1,7,3,3,1,6
4,Budi,1,8,4,3,1,6
5,Iwan,2,10,5,3,1,12
6,Asep,2,12,2,3,1,24
7,Joni,3,15,4,3,1,72

## **#34 Mapping Data Frame dengan applymap**

Source : [Indonesia Belajar](https://youtu.be/Z5pG34OOXi0)

### Import Modules

In [9]:
import pandas as pd

# Cek versi
print(pd.__version__)

1.3.5

### Persiapan Data Frame
- Membuat dataframe yang memiliki 3 kolom.
- Nilai dari kolom pertama dan ketiga sengaja dibuat tidak standard/ tidak selaras/ tidak konsisten.

In [10]:
df = pd.DataFrame({'jenis_kelamin':['Pria', 'Wanita', 'lelaki', 'Lelaki', 'perempuan'], 
                   'usia':[23, 21, 24, 22, 21], 
                   'shift':['pagi', 'siang', 'Malam', 'Siang', 'pagi']})
df

  jenis_kelamin  usia  shift
0          Pria    23   pagi
1        Wanita    21  siang
2        lelaki    24  Malam
3        Lelaki    22  Siang
4     perempuan    21   pagi

### Mapping pada Data Frame dengan applymap()
- Untuk menerapkan fungsi pada keseluruhan dataframe dapat digunakan fungsi applymap().
- Fungsi kali ini berupa fungsi yang mengembalikan nilai string menjadi huruf kecil.

In [11]:
df = df.applymap(lambda x: x.lower() if type(x) == str else x)
df

  jenis_kelamin  usia  shift
0          pria    23   pagi
1        wanita    21  siang
2        lelaki    24  malam
3        lelaki    22  siang
4     perempuan    21   pagi

### applymap() dengan Dictionary
- Aturan mapping ini ditampung kedalam dictionary dengan nama variabel yaitu 'mapping'.
- Untuk menerapkan fungsi ini kita perlu memanggil fungsi df.applymap() dan jangan lupa menggunakan get.

In [12]:
mapping = {'pria':'L',
           'lelaki':'L',
           'wanita':'P',
           'perempuan':'P',
           'pagi':1,
           'siang':2,
           'malam':3}

df.applymap(mapping.get)

  jenis_kelamin  usia  shift
0             L  None      1
1             P  None      2
2             L  None      3
3             L  None      2
4             P  None      1

- Karena kita tidak menspesifikasikan mapping untuk kolom usia maka data kolom tersebut akan ditampilkan sebagai none.
- Untuk mensiasati hal tersebut, kita bisa menspesifikasikan kolom mana yang ingin di mapping.

In [13]:
df[['jenis_kelamin', 'shift']] = df[['jenis_kelamin', 'shift']].applymap(mapping.get)

df

  jenis_kelamin  usia  shift
0             L    23      1
1             P    21      2
2             L    24      3
3             L    22      2
4             P    21      1

## **#35 Memadukan Fungsi Agregasi dengan transform**

Source : [Indonesia Belajar](https://youtu.be/PU2p0lYhNNc)

### Import Modules

In [14]:
import pandas as pd

# Cek versi
print(pd.__version__)

1.3.5

### Persiapan Data Frame
- Membuat dataframe sebuah coffee shop dengan 3 kolom
- Dataframe kali ini sengaja dibuat tidak lengkap, yaitu kekuarangan kolom quantity.

In [15]:
d = {'no_nota':[1, 1, 1, 2, 2, 3, 4, 5], 
     'kopi': ['latte', 'cappuccino', 'espresso', 'latte', 'espresso', 'cappuccino', 'latte', 'espresso'],
     'harga':[50, 60, 80, 150, 120, 60, 100, 40]}

df = pd.DataFrame(d)
df

   no_nota        kopi  harga
0        1       latte     50
1        1  cappuccino     60
2        1    espresso     80
3        2       latte    150
4        2    espresso    120
5        3  cappuccino     60
6        4       latte    100
7        5    espresso     40

### Menghitung Total Harga untuk Tiap Nomor Nota
- Pertama kita kelompokkan data berdasarkan no nota, kemudian jumlahkan harga untuk setiap no nota.
- Jika kita menggunakan fungsi agregasi tanpa fungsi transform() akan terjadi kekurangan data.
- Agar tidak terjadi kekuarangan data pada kolom baru (total_harga), kita perlu menggunakan method transform() yang kemudian dilewatkan fungi agregasi berupa sum.

In [16]:
df.groupby('no_nota')['harga'].sum().to_frame()

         harga
no_nota
1          190
2          270
3           60
4          100
5           40

In [17]:
df['total_harga'] = df.groupby('no_nota')['harga'].transform(sum)
df

   no_nota        kopi  harga  total_harga
0        1       latte     50          190
1        1  cappuccino     60          190
2        1    espresso     80          190
3        2       latte    150          270
4        2    espresso    120          270
5        3  cappuccino     60           60
6        4       latte    100          100
7        5    espresso     40           40

### Menghitung Total Omset untuk Tiap Jenis Kopi yang Terjual
- Serupa dengan poin sebelumnya, kali ini kita melakukan penjumlahan harga untuk setiap jenis kopi.
- Agar tidak terjadi kekurangan data pada kolom baru (total_omset), kita bisa memanfaatkan fungsi transform() yang dikenakan agergasi sum.

In [18]:
df.groupby('kopi')['harga'].sum().to_frame()

            harga
kopi
cappuccino    120
espresso      240
latte         300

In [19]:
df['total_omset'] = df.groupby('kopi')['harga'].transform(sum)
df

   no_nota        kopi  harga  total_harga  total_omset
0        1       latte     50          190          300
1        1  cappuccino     60          190          120
2        1    espresso     80          190          240
3        2       latte    150          270          300
4        2    espresso    120          270          240
5        3  cappuccino     60           60          120
6        4       latte    100          100          300
7        5    espresso     40           40          240

## **#36 Menyatukan Kolom pada Pandas Data Frame**

Source : [Indonesia Belajar](https://youtu.be/4Zd2VyEGCh8)

### Import Modules

In [20]:
import pandas as pd

# Cek versi
print(pd.__version__)

1.3.5

### Persiapan Data Frame
- Membuat dataframe yang memiliki 3 kolom.

In [21]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'],
        'jenis_kelamin': ['L', 'L', 'P', 'L'], 
        'usia': [23, 21, 22, 25]}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

## Menyatukan Kolom dengan str.cat()
- Untuk menyatukan kolom kita hanya butuh sebuah fungsi str.cat().
- arameter sep berguna untuk menetukan pemisah antar data kolom.
- Jika ingin memadukan 2 kolom yang memiliki tipe data yang berbeda, kita perlu menyamakan kedua tipe data tersebut.
- Salah satu cara mengkonversi tipe data yaitu menggunakan astype().

In [22]:
df['nama'].str.cat(df['jenis_kelamin'], sep=', ').to_frame()

       nama
0   bayu, L
1  indra, L
2   devi, P
3   agni, L

In [23]:
df['nama_jk'] = df['nama'].str.cat(df['jenis_kelamin'], sep=', ')
df

    nama jenis_kelamin  usia   nama_jk
0   bayu             L    23   bayu, L
1  indra             L    21  indra, L
2   devi             P    22   devi, P
3   agni             L    25   agni, L

In [24]:
df['nama'].str.cat(df['usia'].astype('str'), sep=' - ').to_frame()

         nama
0   bayu - 23
1  indra - 21
2   devi - 22
3   agni - 25

In [25]:
df['nama_usia'] = df['nama'].str.cat(df['usia'].astype('str'), sep=' - ')
df

    nama jenis_kelamin  usia   nama_jk   nama_usia
0   bayu             L    23   bayu, L   bayu - 23
1  indra             L    21  indra, L  indra - 21
2   devi             P    22   devi, P   devi - 22
3   agni             L    25   agni, L   agni - 25